body {
	background-color: #121212;
	font-family: 'Nunito', sans-serif;
}

iframe {
	border: none !important;
}

.main-container {
	position: relative;
	font: Nunito;
	background: #121212;
	display: grid;
	min-height: 100vh;
	grid-template-rows: 1fr auto;
	grid-template-columns:  auto 1fr;
	grid-template-areas: "sidebar main-view main-view";
						
}

.x-button {
	background: transparent;
    display: flex;
    opacity: .8;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin: auto;
    border-radius: 12px;
}

.x-button:hover{
	background: #282828;
	color: #fff;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
	align-items: center;
	background-color: #000;
	padding-left: 10px;
	padding-top: 5px;
	grid-area: sidebar;
	width: 230px;
	min-height: 0;
	flex: 1;
}

.sidebar .sidebar-header {
	width: 230px;
	height: 60px;
	margin-bottom: 10px;
}

.nav-item {
	width: auto;
	height: 40px;
}


.nav-item a {
	border-radius: 4px;
    display:block;
	padding: 0 16px;
	height: 40px;
	color: #ffa6c9;
	opacity: .8;
	font-weight: 500;
	justify-content: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.nav-item i {
	font-family: FontAwesome;
	position: absolute;
	margin-right: 15px;
	font-size: 22px;
	right: 5px;
	font-style:normal;
}

.nav-item a:hover {
	color: #fff;
    background: #ffa6c9;
}

.topbar {
	grid-area: main-view;
    height: 60px;
    top: 0px;
    width: 100%;
	background-color: #000;
}

.topbar .botones-nav button{
	border-radius: 23px;
    color: #fff;
    background: #000;
    font-size: 13px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    top: 10px;
    position: relative;
    white-space: nowrap;
	overflow: hidden;
}

.topbar .botones-nav a{
	color: white;
	font-weight: 800;
	font-size: 13px;
	text-decoration: none;
}

.topbar .botones-nav button:hover {
	background-color: #282828;
	cursor: pointer;
}

.topbar .menu button a{
	margin-left: 8px;
	font-weight: 800;
	font-size: 3px;
	white-space: nowrap;
	overflow: hidden;

}


.topbar .menu .profile {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;

}

.topbar .menu i {
	font-family: FontAwesome;
	font-style: normal;
}

.topbar .menu button {
	border-radius: 23px;
	height: 32px;
	border: none;
	color: #fff;
	background-color: #000;
}

.topbar .menu button:hover {
	background-color: #ffa6c9;
	cursor: pointer;
}

.topbar .menu button span{
	margin-left: 8px;
	font-weight: 800;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;

}

.topbar .menu:hover > .dropdown-menu, .topbar .menu:hover > button {
	display: block;
	background-color: #282828;
}

.topbar .menu .dropdown-menu {
	background-color: #282828;
	margin-top: 8px;
	box-shadow: 0 4px 4px #000;
	border-radius: 4px;

}

.topbar .menu .dropdown-menu .dropdown-item {
	color: white;
	opacity: .8;
	padding: 3px 20px;
	line-height: 32px;
}

.topbar .menu .dropdown-menu .dropdown-item:hover {
	color: #fff;
    background: #ffa6c9;
}

.nav-create{
	border-top: 1px solid #fff;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #fff;
}

.nav-create h2 {
	font-size: 20px;
	border-radius: 4px;
    display:block;
	padding: 0 16px;
	height: 20px;
	color: #fff;
}

.main{
	grid-area: main-view;
	flex:1;
	height: 100%;
	min-height: 0;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 16px;
}

.main .margin-top {
	position: sticky;
	height: 60px;
}

.main .view-container {
	min-height: 0;
	flex: 1;
}

.main .title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: .04em;
	color: #fff;

}

.main .list {
	padding: 0px 7px;
}

.main .list .card {
	padding: 20px 20px 16px;
	background: #282828;
	border-radius: 8px;
	margin-top: 10px;
}

.main .list .col-12 {
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 10px;
}

.main .list .card .card-body {
	min-height: 62px;
	border:none;
}

.main .list .card .card-title {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: .24px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0; 
}

.main .list .card .card-text {
	font-size: 12px;
	font-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #fff;
	opacity: .6;

}
.data-container {
	height: 230px;
    background-image: linear-gradient(#000,#282828);
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.entityinfo {
	padding: 20px 0px 20px 0px;
	display: inline-block;
	width: 100%;
}

.entityinfo .leftsection {
	width: 30%;
	float: left;
	max-width: 250px;
}

.entityinfo .rightsection {
	width: 70%;
	float: left;
	padding: 5px 10px 5px 40px;
	box-sizing: border-box;
}

.tracklist-container .tracklist .track {
	height: 60px;
	padding: 5px 10px 35px 10px;
	list-style: none;
}

.tracklist-container .tracklist .track .trackinfo {
	font-weight: 200;
}


.tracklist-container .tracklist .track:hover {
	background-color: #282828;
}

.tracklist-container .tracklist .track .trackinfo .trackname {
	color: #ffa6c9;
	font-weight: 300;
}

.tracklist-container .tracklist .track .playbutton {
	width: 30px;
	visibility: hidden;
	position: absolute;
	padding-top: 10px;
	cursor: pointer;

}

.tracklist-container .tracklist .track .note {
	width: 30px;
	position: absolute;
	padding-top: 10px;
	cursor: pointer;

}

.tracklist-container .tracklist .track:hover .playbutton {
	visibility: visible;

}

.tracklist-container .tracklist .track:hover .note {
	visibility: hidden;

}


.tracklist-container .tracklist .track .trackinfo {
	float: left;
	width: 75%;
	padding-left: 45px;
}


.tracklist-container .tracklist .track .trackinfo .trackname {
	display: block;
	font-weight: 600;
}

.tracklist-container .tracklist .track .track-duration .trackdur {
	color: #b3b3b3;
	font-size: 15px;
	width: 15%;
	text-align: right;
	padding-top: 10px;
	float: left;
}


.tracklist-container .tracklist .track .track-options {
	width: 5%;
	float: left;
	text-align: right;
}

.tracklist-container .tracklist .track .track-options .optbutton{
	width: 15px;
	visibility: hidden;
	padding-top: 15px;
}

.tracklist-container .tracklist .track:hover .track-options .optbutton {
	visibility: visible;
}

