
body{
	background-color: #121212;
	font-family: 'Nunito', sans-serif;

}

.main-container {
	position: relative;
	background: #121212;
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr auto;
	grid-template-columns:  auto 1fr;
	grid-template-areas: "sidebar main-view main-view"
						
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
	align-items: center;
	background-color: #000;
	padding-left: 10px;
	padding-top: 5px;
	grid-area: sidebar;
	width: 230px;
	min-height: 0;
	flex: 1;
}

.sidebar .sidebar-header{
	width: 230px;
	height: 60px;
	margin-bottom: 10px;
}

.nav-item{
	width: auto;
	height: 40px;
}

.nav-item a{
	border-radius: 4px;
    display:block;
	padding: 0 16px;
	height: 40px;
	color: #ffa6c9;
	opacity: .8;
	font-weight: 500;
	justify-content: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.nav-item i {
	font-family: FontAwesome;
	position: absolute;
	margin-right: 15px;
	font-size: 22px;
	right: 5px;
	font-style:normal;
}

.nav-item a:hover {
	color: #fff;
    background: #ffa6c9;
}

.topbar {
	grid-area: main-view;
    height: 60px;
    top: 0px;
    width: 100%;
	background-color: #000;
}

.topbar .menu .profile {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;

}

.topbar .menu i {
	font-family: FontAwesome;
	font-style: normal;
}

.topbar .menu button {
	border-radius: 23px;
	height: 32px;
	border: none;
	color: #fff;
	background-color: #000;
}

.topbar .menu button:hover {
	background-color: #ffa6c9;
	cursor: pointer;
}

.topbar .menu button span{
	margin-left: 8px;
	font-weight: 800;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;

}

.topbar .menu:hover > .dropdown-menu, .topbar .menu:hover > button {
	display: block;
	background-color: #282828;
}

.topbar .menu .dropdown-menu {
	background-color: #282828;
	margin-top: 8px;
	box-shadow: 0 4px 4px #000;
	border-radius: 4px;

}

.topbar .menu .dropdown-menu .dropdown-item {
	color: white;
	opacity: .8;
	padding: 3px 20px;
	line-height: 32px;
}

.topbar .menu .dropdown-menu .dropdown-item:hover {
	color: #fff;
    background: #ffa6c9;
}

}

.main {
	grid-area: main-view;
	height: 100%;
	overflow: scroll;
	flex: 1;
	min-height: 0;
}

.nav-create{
	border-top: 1px solid #fff;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #fff;
}

.nav-create h2 {
	font-size: 20px;
	border-radius: 4px;
    display:block;
	padding: 0 16px;
	height: 20px;
	color: #fff;
}